body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.g2g{
    margin: 10px 0px;
    padding:12px;
    font-size:1em;
    vertical-align: middle;

    color: white;
    background-color: green;

    border-radius: 5px;
}

.error{
    margin: 10px 0px;
    padding:12px;
    font-size:1em;
    vertical-align: middle;

    color: #D8000C;
    background-color: #FFBABA;

    border-radius: 5px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin #username{
  margin-bottom: 10px;
}

.form-signin #re-password{
  margin-bottom: 10px;
}

