.tasks-wrapper{
	width: 80%;
	margin: 0 auto;

	margin-top: 50px;
}

.karma-image-icon{
	width: 50px; 
	height: auto; 
	display: block; 
	margin: 0 auto;
}

.karma-points-wrapper{
	width: 100px; 
	display: block; 
	margin: 0 auto;
}

.karma-points-label{
	width:75px; 
	display: inline-block;
}

.karma-points-amount{
	width: 20px; 
	display: inline-block; 
	border:0; 
	color:#f6931f; 
	font-weight:bold;
	background-color: inherit;
}

.task-instance{
	width: 100%;
	background-color: #f5f5f5;
	padding: 1.5em;

	margin-bottom: 50px;
}

.task-instance-name{
	font-size: 24px;
}

.tasks-filter{
	width: 250px;
	display: block;
	margin: 0 auto;

	margin-top: 30px;
}

@media(max-width: 991px){
	.section{
		margin-bottom: 30px;
	}
}
